@import "../../../../utils/variables";

form{
    width: 100%;
    color: $text-color;
    
    span, input{
        font-size: 1.1rem;
    }
    
    label{
        margin-bottom: 10px;
    }
    
    div.input{
        width: 100%;
        
        label{
            width: 100%;
            display: inline-grid;
            grid-template-columns: 70% 30%;
            
            
            &.gps{
                grid-template-columns: 30% 70%;
                
                input{
                    text-align: start;
                }
            }
            
            &#timeToPrepare{
                grid-template-columns: 70% 20% 10%;
            }

            &#timeToTravel{
                grid-template-columns: 70% 20% 10%;
            }
            
            input{
                width: 100%;
                text-align: center;
                
                transition: 0.2s ease-in-out;
                
                background-color: white;
                border: none;
                border-bottom: 1px solid rgb(180, 180, 180);
                
                &:focus{
                    outline: none;
                    border-bottom: 1px solid rgb(80, 80, 80);
                }
                
            }
            
            input[type="time"]::-webkit-calendar-picker-indicator{
                filter: invert(75%);
            }
            
        }
        
    }
    
    div.radio{
        width: 100%;
        
        display: inline-grid;
        grid-template-columns: 50% 50%;
        
        label{
            
            span{
                margin-left: 10px;
            }
            
        }
        
    }
    
    div.checkbox{
        width: 100%;
        
        
        label{
            width: 100%;
            display: inline-grid;
            grid-template-columns: 60% 5% 35%;
            
            input{
                width: 100%;
                height: 100%;
            }
            
            span{
                margin-left: 10px;
            }
        }
    }

    button.maps{
        width: 100%;
        background-image: url("/assets/img/maps.png");
        padding: 10px;
        border-radius: 5px;
        margin: 5px 0;
        color: rgb(20, 20, 20);
        font-weight: bold;
    }
    
    button[type="submit"]{
        width: 100%;
        background-color: rgb(66, 170, 255);
        padding: 10px;
        border-radius: 5px;
    }
    
}

.animateable{
    transition: 0.2s ease-in-out;
}

.slideIn{
    transform: translateX(0);
    filter: opacity(1);
}

.slideOut{
    transform: translateX(100vw);
    filter: opacity(0);
}

@keyframes slide{
    0% {
      transform: translateX(100vw);
      filter: opacity(0);
    }
  
    100%{
      transform: translateX(0);
      filter: opacity(1);
    }
  }