<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        WakeMeApp
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
  
  
    <div id="container">
      
        <app-window title="Einstellungen" class="mb-5">
          <app-home-settings></app-home-settings>
        </app-window>

        <hr>

        <app-window title="Ergebnis">
          <p>
            Sie sollten Ihren Wecker auf die folgende Zeit stellen :
          </p>
        </app-window>
  
    </div>
  
  </ion-content>