<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        WakeMeApp
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
  
  
    <div id="container">
      
        <app-window title="Einstellungen" class="mb-5">
          <app-home-settings></app-home-settings>
        </app-window>

        <div class="note">
          <p>
            Leider funktioniert die dynamische Zeiterfassung durch GPS momentan nicht. <br>
            Bitte benutzen Sie das Feld "Fahrtzeit".
          </p>
        </div>


        <ng-container *ngIf="timeService.showResult">
          <hr>

          <div [ngClass]="{'slideIn': timeService.showResult}">
            <app-window title="Ergebnis" id="result" >
              <p>
                Sie sollten Ihren Wecker auf die folgende Zeit stellen :
              </p>
              <app-clock  [time]="timeService.timeData.wakeUpTime" id="alarm"></app-clock>
            </app-window>
          </div>

        </ng-container>


  
    </div>
  
  </ion-content>